In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os

In [ ]:
data_path = 'Coup_Data_v2.0.0.csv'
data = pd.read_csv(data_path, encoding='utf-8', delimiter=',', error_bad_lines=False)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   coup_id     943 non-null    object
 1   cowcode     943 non-null    int64
 2   country     943 non-null    object
 3   year        943 non-null    int64
 4   month       943 non-null    int64
 5   day         943 non-null    int64
 6   event_type  943 non-null    object
 7   unrealized  943 non-null    int64
 8   realized    943 non-null    int64
 9   conspiracy  943 non-null    int64
 10  attempt     943 non-null    int64
 11  military    943 non-null    int64
 12  dissident   943 non-null    int64
 13  rebel       943 non-null    int64
 14  palace      943 non-null    int64
 15  foreign     943 non-null    int64
 16  auto        943 non-null    int64
 17  resign      943 non-null    int64
 18  popular     943 non-null    int64
 19  counter     943 non-null    int64
 20  other       943 non-null    int64
 21  noharm      943 non-null    int64
 22  injured     943 non-null    int64
 23  killed      943 non-null    int64
 24  harrest     943 non-null    int64
 25  jailed      943 non-null    int64
 26  tried       943 non-null    int64
 27  fled        943 non-null    int64
 28  exile       943 non-null    int64
dtypes: int64(26), object(3)
memory usage: 213.8+ KB

In [ ]:
# сортировка стран по алфавиту
data_country_filtered = data.sort_values('country', ascending=True)
# список всех стран в алфавитном порядке
country_dict = data_country_filtered['country'].unique()
# количество стран в датасете
country_num = len(country_list)
print(country_num)

136

In [ ]:
# госперевороты для заданной страны
len(data[data['country'] == 'Russia'])

In [ ]:
# группировка строк по определенному столбцу
data_country_numbered = data.groupby('country').count()

In [ ]:
# госперевороты для заданного периода
start_date = 1970
data_filtered = data[data['year'] > start_date]

In [ ]:
# частотность переворотов за последние 50 лет
# количество переворотов == количество строчек с этой страной
data_country_numbered = data.groupby('country').count()
print(data_country_numbered)
coup_numbers = list(data_country_numbered['coup_id'])

                     coup_id  cowcode  year  month  ...  jailed  tried  fled  exile
country                                             ...
Afghanistan               11       11    11     11  ...      11     11    11     11
Albania                    2        2     2      2  ...       2      2     2      2
Algeria                    9        9     9      9  ...       9      9     9      9
Angola                     2        2     2      2  ...       2      2     2      2
Argentina                 24       24    24     24  ...      24     24    24     24
...                      ...      ...   ...    ...  ...     ...    ...   ...    ...
Yemen                      2        2     2      2  ...       2      2     2      2
Yemen Arab Republic        6        6     6      6  ...       6      6     6      6
Yemen PDR                  6        6     6      6  ...       6      6     6      6
Zambia                     5        5     5      5  ...       5      5     5      5
Zimbabwe                   5        5     5      5  ...       5      5     5      5

[136 rows x 28 columns]

In [ ]:
# таблица для записи итоговых данных
df = pd.DataFrame({'country':country_list, 'coup_num':coup_numbers}, columns=['country', 'coup_num'])

In [ ]:
df

                 country  coup_num
0            Afghanistan        11
1                Albania         2
2                Algeria         9
3                 Angola         2
4              Argentina        24
..                   ...       ...
131                Yemen         2
132  Yemen Arab Republic         6
133            Yemen PDR         6
134               Zambia         5
135             Zimbabwe         5

[136 rows x 2 columns]

In [ ]:
# статистика по столбцу
df['coup_num'].describe()
# среднее значение
df['coup_num'].mean()

6.9338235294117645

In [ ]:
# запись фрейма в файл
file_path = 'result_coup_detait.csv'
df.to_csv(file_path, encoding='utf-8')